<form [formGroup]="companyForm" novalidate>
  <div class="form-group">
    <label for="name">Sub Household Name*</label>
    <input type="text" class="form-control" name="name" formControlName="name" placeholder="New Sub Household">
    <div class="alert alert-danger" *ngIf="companyForm.get('name').hasError('required') && companyForm.get('name').touched">
      Name is required
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" [disabled]="companyForm.invalid" (click)="saveCompany()">Save</button>
    <button class="btn btn-default" [disabled]="companyForm.invalid" (click)="cancel()">Cancel</button>
  </div>
</form>
